{% extends 'base.html' %} {% load static %} {% block content %}

    <!-- Custom Scripts -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://kit.fontawesome.com/a52510d5ce.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- End Custom Scripts -->


    <!-- Custom Style -->
    <style>

    body{
        color: black;
        background: black;
    }
        .navbar {
            transition: all 0.5s ease-in-out;
            -webkit-backdrop-filter: blur(20px) opacity(1);
            backdrop-filter: blur(20px) opacity(1);
        }

        /*.signInButton {
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .signInButton:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
            0px 30px 60px rgba(23, 0, 102, 0.5),
            inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
            transform: translateY(-3px);
        }*/

        .contactButton {
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .contactButton:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
            0px 30px 60px rgba(74, 74, 74, 1),
            inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
            transform: translateY(-3px);
        }

        .contactButtonYellow {
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .contactButtonYellow:hover {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
            0px 30px 60px rgba(255, 255, 188, 1),
            inset 0px 0px 0px 1px rgba(255, 255, 255, 0.5);
            transform: translateY(-3px);
        }

        .transicao {
            transform: rotateY(-20deg) rotateX(20deg);
            perspective: 5000;
            transform-origin: bottom left;
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        .transicao:hover {
            transform: rotateY(0deg) rotateX(0deg);
            filter: brightness(110%) saturate(110%);
        }

        .navbarClass {
            transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            background: rgba(0, 0, 0, 0.3);
        }

        .shrink {
            padding: 20px 30px !important;
        }

        @media (min-width: 768px) {
            .top-navbar {
                display: inline-flex !important;
            }
        }


        .hamburger {
            cursor: pointer;
            transition: all 0.25s;
        }

        .hamburger__top-bun,
        .hamburger__bottom-bun {
            content: '';
            display: block;
            width: 18px;
            height: 1px;
            background: #fff;
            transform: rotate(0);
            transition: all 0.25s;
        }

        .hamburger:hover [class*="-bun"] {
            background: #999;
        }

        .hamburger__top-bun {
            transform: translateY(-3px);
        }

        .hamburger__bottom-bun {
            transform: translateY(3px);
        }

        .open {
            transform: rotate(90deg);
        }

        .open .hamburger__top-bun {
            transform: rotate(45deg) translateY(0px);
        }

        .open .hamburger__bottom-bun {
            transform: rotate(-45deg) translateY(0px);
        }

        /* GLOBAL STYLES */

        /*.ios_right_padding {
            padding-right: env(safe-area-inset-right);
            padding-right: 50px;
        }

        .ios_left_padding {
            padding-left: env(safe-area-inset-left);
            padding-left: 50px;
        }*/

        .dud {
            color: #757575
        }




.ml4 .letters {
  position: absolute;
  opacity: 1;
}


    </style>
    <!-- End Custom Style -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <!-- Navbar -->
    <nav id="myNavbar"
         class="md:px-6 lg:px-8 transition pt-10 z-40 p-3 fixed navbarClass navbar flex items-center  flex-wrap w-full  text-white">

        <div class="p-4 flex flex-row items-center justify-between ios_left_padding">
            <a href="#"
               class="contactButton text-sm font-bold font-mono tracking-widest rounded-md">Miguel Ferreira</a>
        </div>

        <button id="pipi"
                class="transition text-white inline-flex p-3  rounded md:hidden ml-auto nav-toggler outline-none focus:outline-none"
                data-target="#navigation">

            <div class="hamburger">
                <span class="hamburger__top-bun "></span>
                <span class="hamburger__bottom-bun"></span>
            </div>

            {##}
            {#            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">#}
            {#  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />#}
            {#</svg>#}

        </button>

        <div class="hidden top-navbar w-full md:inline-flex md:flex-grow md:w-auto ios_right_padding"
             id="navigation">

            <div class="gap-y-5 p-10 md:p-0 md:inline-flex md:flex-row md:ml-auto flex flex-col pb-4 md:pb-0">

                <a class="contactButton px-4 py-1 mt-1 text-sm font-normal font-mono text-gray-900 bg-gray-200 rounded-full dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                   href="#">Início</a>
                <a class="contactButton px-4 py-1 mt-1 text-sm font-normal font-mono bg-transparent rounded-full dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                   href="#">Sobre mim</a>
                <a class="contactButtonYellow px-4 py-1 mt-1 text-sm font-normal text-black font-mono bg-yellow-200 rounded-full  md:mt-0 md:ml-4 focus:text-gray-900 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                   href="#">Contacta-me</a>


                </a>

            </div>
        </div>

    </nav>

    <!-- End Navbar -->


    <div class="relative bg-white overflow-hidden p-10 pt-10 md:pt-10 lg:pt-20 lg:pb-20 md:pb-14"
         style="background-color: black">
        <div class="container  mx-auto">
            <!-- hero wrapper -->
            <div class="pt-10 mt-10 grid grid-cols-1 md:grid-cols-11  md:gap-8 lg:gap-10 xl:gap-28 items-center">
                <!-- hero text -->
                <div class="col-start-2 col-span-4">
                    <div class="lg:text-left">
                        <h1 class="text-3xl tracking-wide font-bold text-gray-900 sm:text-3xl lg:text-3xl xl:text-4xl">
                            <span class="block text-white">Olá, sou {# o Miguel !#}


<h1 class="ml4 pb-10 pt-5">
  <span class="letters letters-1">o Miguel Ferreira!</span>
  <span class="letters letters-2">Paixão</span>
  <span class="letters letters-3">Ética</span>
    <span class="letters letters-4">Resiliência</span>
  <span class="letters letters-5">Liderança</span>

</h1>



                                   {#   <div class="text"></div> #}

                            </span>
                        </h1>
                        <p class="mt-3 text-base font-thin text-white sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-base lg:mx-0">
                            Acho que vais gostar de-me conhecer. Não tens muito a perder, desce e vê por ti mesmo! Sou
                            dinâmico e interessante, mas isso todos dizem. Sabes o que sou mesmo? Louco. Louco por fazer
                            o que gosto e por mostrar o quanto eu gosto! 😎
                        </p>

                        <div class="mt-5 sm:mt-8 sm:flex sm:justify-start lg:justify-start">
                            <div>
                                <a href=""
                                   class="contactButtonYellow w-full flex items-center justify-center rounded-full py-0.5 px-6 bg-yellow-200 border border-transparent text-base font-medium text-black md:text-base md:px-5">
                                    Conhece-me melhor
                                    <i class="pl-4 fas fa-chevron-down"></i>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="hidden md:flex col-span-5 w-full justify-end items-end">
                    <div class="w-80">
                        <img src="https://drive.google.com/uc?export=view&id=1RHdbxbcwksjSS26VsEuZZi_K37252oSG">
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- image -->
    <!-- https://drive.google.com/uc?export=view&id=1RHdbxbcwksjSS26VsEuZZi_K37252oSG -->
    <!-- end image -->




    <div class="relative bg-white overflow-hidden md:p-10 md:pt-10 md:pt-10 lg:pt-20 lg:pb-20 md:pb-14 sm:p-0">
        <div class="lg:container  lg:mx-auto">
            <!-- hero wrapper -->
            <div class="grid grid-cols-1 md:grid-cols-12 md:gap-8 lg:gap-10 xl:gap-28 items-center  ">
                <!-- hero text -->
                <div class="transition col-start-2 col-span-10 md:rounded-2xl px-10 py-20  sm:rounded-none"
                     style="background: #FFF4E5">
                    <p class="text-base font-light text-black sm:text-lg mx-auto">
                        Sou estudante de Engenharia Informática, estou no 3º ano e prestes a atirar-me para novos
                        desafios.
                        <span class="font-bold">
                            Paixão, resiliência, ética e liderança
                        </span>
                        são os termos que definem o meu percurso pessoal e académico.
                    </p>
                </div>
            </div>
        </div>
    </div>





    <div class="relative bg-white overflow-hidden md:p-10 md:pt-10 md:pt-10 lg:pt-20 lg:pb-20 md:pb-14 sm:p-0">
        <div class="lg:container  lg:mx-auto">
            <!-- hero wrapper -->
            <div class="grid grid-cols-1 md:grid-cols-12 md:gap-8 lg:gap-10 xl:gap-28 items-center  ">
                <!-- hero text -->
                <div class="transition col-start-2 col-span-10 md:rounded-2xl px-10 py-20  sm:rounded-none"
                     style="background: #F0F4FF">
                    <p class="text-base font-bold text-indigo-900 sm:text-lg mx-auto">
                        Ensino
                    </p>
                    <p class="pt-2 text-base font-light text-indigo-300 sm:text-lg mx-auto">
                        ISCTE-IUL
                        Licenciatura em Engenharia Informática | 2018 - 2021 (Previsão)
                    </p>

                    <ul class="pl-10 pt-2 list-disc text-base font-light text-black sm:text-lg mx-auto">
                        <li>Média de 17.94 valores.</li>
                        <li>Excelência (20 valores) em Inteligência Artifical e Programação em Rede.</li>
                        <li>Especialização em Apresentações Profissionais, Data Mining and Extraction e Matemática
                            Aplicada à Computação.
                        </li>
                        <li>Delegado de curso na totalidade da licenciatura.</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <div class="relative bg-white overflow-hidden md:p-10 md:pt-10 md:pt-10 lg:pt-20 lg:pb-20 md:pb-14 sm:p-0">
        <div class="lg:container  lg:mx-auto">
            <!-- hero wrapper -->
            <div class="grid grid-cols-1 md:grid-cols-12 md:gap-8 lg:gap-10 xl:gap-28 items-center  ">
                <!-- hero text -->

                <div class="transition  col-span-10 md:rounded-2xl px-10 py-20  sm:rounded-none sm:col-start-1 md:col-start-2"
                     style="background: #FBFFEB">
                    <p class="text-base font-bold text-green-900 sm:text-lg mx-auto">
                        Projetos e Experiência Adicional
                    </p>
                    <p class="pt-2 text-base font-light text-green-300 sm:text-lg mx-auto">
                        Ensino Secundário
                    </p>


                    <ul class="pl-10 pt-2 list-disc text-base font-light text-black sm:text-lg mx-auto">
                        <li>Responsável pelo programa Parlamento dos Jovens durante 2 anos.</li>
                        <li>Membro eleito para a Comissão Executiva da Associação de Estudantes.</li>
                        <li>Organização de debates e palestras para alunos e docentes.</li>
                    </ul>


                </div>


            </div>
        </div>
    </div>


    <div class="relative bg-white overflow-hidden md:p-10 md:pt-10 md:pt-10 lg:pt-20 lg:pb-20 md:pb-14 sm:p-0">
        <div class="lg:container  lg:mx-auto">
            <!-- hero wrapper -->
            <div class="grid grid-cols-1 md:grid-cols-12 md:gap-8 lg:gap-10 xl:gap-28 items-center  ">
                <!-- hero text -->
                <div class="transition col-start-2 col-span-10 md:rounded-2xl px-10 py-20  sm:rounded-none"
                     style="background: #fff2f2">
                    <p class="text-base font-bold text-pink-900 sm:text-lg mx-auto">
                        Soft & Hard Skills
                    </p>

                    <ul class="pl-10 pt-2 list-disc text-base font-light text-black sm:text-lg mx-auto">
                        <li>MySQL, Java, C, Python, Prolog e Scala.</li>
                        <li>Excepcionalmente capaz em todos os aspetos de Java.</li>
                        <li>Forte capacidade em liderança, comunicação e colaboração.</li>
                        <li>Invulgar capacidade para aliar Design e Programação</li>
                        <li>Pensamento criativo, lógico e crítico com capacidade de moderar conflitos. Empatia</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>


    <!-- START MINI MEETINGS -->
    <div class="relative bg-white overflow-hidden p-10 pt-10 md:pt-10 lg:pt-20 lg:pb-20 md:pb-14">
        <div class="container  mx-auto">
            <!-- hero wrapper -->
            <div class="grid grid-cols-1 md:grid-cols-12  md:gap-8 lg:gap-10 xl:gap-28 items-center">
                <!-- hero text -->
                <div class="col-start-2 col-span-10 rounded-2xl px-5 py-5 bg-blue-50">

                    <div class="grid  grid-cols-5 rounded-2xl   md:gap-8 lg:gap-10 items-center bg-blue-50">

                        <div class="col-span-2 rounded-2xl pl-10 py-20">
                            <p class="text-base font-bold text-blue-900 sm:text-lg mx-auto">
                                miniMeetings
                            </p>
                            <p class="text-base font-light text-black sm:text-lg mx-auto">
                                Applicação para iOS e iPadOS para organizar reuniões online.
                            </p>

                            <div class="flex flex-row items-start gap-3 pt-5 flex-wrap">
                                <p class=" text-base font-light  text-black sm:text-lg  bg-blue-100 rounded-lg px-2.5">
                                    xCode
                                </p>

                                <p class=" text-base font-light  text-black sm:text-lg  bg-blue-100 rounded-lg px-2.5">
                                    Swift
                                </p>

                                <p class="text-base font-light  text-black sm:text-lg  bg-blue-100 rounded-lg px-2.5">
                                    Firebase
                                </p>
                            </div>


                        </div>

                        <div class="row-start-1 col-start-3 col-span-3 rounded-2xl bg-white px-10 py-20 shadow-xl">
                            5555555555
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END MINI MEETINGS -->


    <!-- VIDEO -->
    <section class="lg:py-12 lg:flex lg:justify-center">
        <div class="bg-blue-50 dark:bg-gray-800 lg:mx-8 lg:flex lg:max-w-5xl lg:shadow-lg lg:rounded-lg">
            <div class="lg:w-1/2 p-10 sm:p-10  md:p-4 lg:p-0">
                <iframe class="myCard h-64 bg-cover lg:rounded-lg lg:h-full w-full"
                        src="https://www.youtube.com/embed/7rzzwawyz78" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                {#                <div class="h-64 bg-cover lg:rounded-lg lg:h-full" style="background-image:url('https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80')"></div>#}
            </div>

            <div class="py-12 px-6 max-w-xl lg:max-w-5xl lg:w-1/2">
                <h2 class="text-2xl text-gray-800 dark:text-white font-bold md:text-3xl">Em <span
                        class="text-indigo-600 dark:text-indigo-400">2019</span> foi assim,</h2>
                <p class="mt-4 text-gray-600 dark:text-gray-400">Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Quidem modi reprehenderit vitae exercitationem aliquid dolores ullam temporibus enim expedita
                    aperiam mollitia iure consectetur dicta tenetur, porro consequuntur saepe accusantium
                    consequatur.</p>

                <div class="mt-8">
                    <a href="#" class="bg-gray-900 text-gray-100 px-5 py-3 font-semibold rounded hover:bg-gray-800">Start
                        Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- END VIDEO -->







    <!-- Section 1 -->
    <section class="text-gray-700 bg-black body-font">
        <div class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row">
            <a href="#_" class="text-xl font-black leading-none text-yellow-200 select-none logo">MiguelFerreira<span
                    class="text-yellow-800">.</span></a>

            <span class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start">
           
            <a href="http://linkedin.com/in/marrf" class="text-white hover:text-gray-500">
                <span class="sr-only">GitHub</span>
                <i class="w-6 h-6 fab fa-linkedin-in fa-lg"></i>
                
            </a>

            <a href="#" class="text-white hover:text-gray-500">
                <span class="sr-only">GitHub</span>
                <i class="fab fa-github fa-lg"></i>
                
            </a>

        </span>
        </div>
    </section>




    <script>
        // ——————————————————————————————————————————————————
        // TextScramble
        // ——————————————————————————————————————————————————

        class TextScramble {
            constructor(el) {
                this.el = el
                this.chars = '!<>-_\\/[]{}—=+*^?#________'
                this.update = this.update.bind(this)
            }

            setText(newText) {
                const oldText = this.el.innerText
                const length = Math.max(oldText.length, newText.length)
                const promise = new Promise((resolve) => this.resolve = resolve)
                this.queue = []
                for (let i = 0; i < length; i++) {
                    const from = oldText[i] || ''
                    const to = newText[i] || ''
                    const start = Math.floor(Math.random() * 40)
                    const end = start + Math.floor(Math.random() * 40)
                    this.queue.push({from, to, start, end})
                }
                cancelAnimationFrame(this.frameRequest)
                this.frame = 0
                this.update()
                return promise
            }

            update() {
                let output = ''
                let complete = 0
                for (let i = 0, n = this.queue.length; i < n; i++) {
                    let {from, to, start, end, char} = this.queue[i]
                    if (this.frame >= end) {
                        complete++
                        output += to
                    } else if (this.frame >= start) {
                        if (!char || Math.random() < 0.28) {
                            char = this.randomChar()
                            this.queue[i].char = char
                        }
                        output += `<span class="dud">${char}</span>`
                    } else {
                        output += from
                    }
                }
                this.el.innerHTML = output
                if (complete === this.queue.length) {
                    this.resolve()
                } else {
                    this.frameRequest = requestAnimationFrame(this.update)
                    this.frame++
                }
            }

            randomChar() {
                return this.chars[Math.floor(Math.random() * this.chars.length)]
            }
        }

        // ——————————————————————————————————————————————————
        // Example
        // ——————————————————————————————————————————————————

        const phrases = [
            'o Miguel Ferreira',
            'Paixão',
            'Ética',
            'Resiliência',
            'Liderança'
        ]

        const el = document.querySelector('.text')
        const fx = new TextScramble(el)

        let counter = 0
        const next = () => {
            fx.setText(phrases[counter]).then(() => {
                setTimeout(next, 1500)
            })
            counter = (counter + 1) % phrases.length
        }

        next()
    </script>


    <script>
        $(document).ready(function () {
            $(".nav-toggler").each(function (_, navToggler) {
                var target = $(navToggler).data("target");
                $(navToggler).on("click", function () {
                    $(target).animate({
                        height: "toggle",
                    })
                })
            })
        })

        //$('.hamburger').click(function () {
        //    $(this).toggleClass('open');
        //});

        $('#pipi').click(function () {
            $('.hamburger').toggleClass('open');
        });


        $(window).scroll(function () {
            if ($(document).scrollTop() > 100) {
                $('#myNavbar').addClass('shrink');
            } else {
                $('#myNavbar').removeClass('shrink');
            }
        });
    </script>

    <script>



var ml4 = {};
ml4.opacityIn = [0,1];
ml4.scaleIn = [0.2, 1];
ml4.scaleOut = 3;
ml4.durationIn = 800;
ml4.durationOut = 600;
ml4.delay = 500;

anime.timeline({loop: true})
  .add({
    targets: '.ml4 .letters-1',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml4 .letters-1',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  }).add({
    targets: '.ml4 .letters-2',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml4 .letters-2',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  }).add({
    targets: '.ml4 .letters-3',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml4 .letters-3',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  })
  .add({
    targets: '.ml4 .letters-4',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml4 .letters-4',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  })
.add({
    targets: '.ml4 .letters-5',
    translateX: [40,0],
    translateZ: 0,
    opacity: [0,1],
    easing: "easeOutExpo",
    duration: 1200,
    delay: (el, i) => 500 + 30 * i
  }).add({
    targets: '.ml4 .letters-5',
    translateX: [0,-30],
    opacity: [1,0],
    easing: "easeInExpo",
    duration: 1100,
    delay: (el, i) => 100 + 30 * i
  })
  .add({
    targets: '.ml4',
    opacity: 0
  });
    </script>


{% endblock %}